//
// Alerts
// --------------------------------------------------
.gfpd-error {
	background-color: $white;
	border-left: 3px solid $red;
	box-shadow: 0px 0px 2px 1px rgba($black, .1);
	margin-bottom: 20px;
	padding: 8px;
}